<header>
    <h1>Simple Groups</h1>
</header>

<!--
<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body>
  <section>
    <h1>Step 1</h1>
    <textarea id="names" name="names" rows="4">Miles R
Holli R
Jenny M
Melissa J
AJ L
Adam W</textarea>
  </section>
  
  <section>
    We will have <input type="number" id="group_number" name="group_number" value="3"> groups.
  </section>
  
  <section>
    <button id="draw">Draw</button>
  </section>
  
  <section id="groups">
  </section>
    
</body>
</html>
-->

<footer>
    By Miles Rausch
</footer>
